+exports('layers')

    %overlay-layer
        z-index: 5

    %overlay-mask-layer
        z-index: 4

    %chrome-layer
        z-index: 3

    %content-layer
        z-index: 2

    %base-layer
        z-index: 1
