@import 'compass/css3'

@import 'config/breakpoints'

@import 'shared/colors'
@import 'shared/layers'
@import 'shared/type'

#site-header
    @extend %header-layer
    position: fixed
    top: 0
    left: 0
    width: 100%
    background-color: $black

    .branding
        @extend %hide-type
        float: left
        display: inline-block
        height: 62px
        margin-left: 12px
        +background-size(contain)
        width: 116px
        +respond-to-gt($Formwork_break_small)
            width: 150px

    .nav_item
        @extend %Quattrocento-regular
        display: inline-block
        width: 62px
        padding-top: 35px
        padding-bottom: 15px
        font-size: 12px
        text-align: center
        color: $gray
        cursor: pointer

        &:hover
            color: $white

.Brozar
    height: 100%
    .Brozar_content
        height: 100%
        width: calc(100% - 51px)
    .Brozar_controls
        width: 51px
        border-left: 5px solid rgba(0,0,0,0.2)
        position: absolute
        top: 0
        right: 0
        bottom: 0
        background: $white
        button
            width: 20px
            height: 20px
            display: block
            cursor: pointer
            margin: 0 auto
            border: 0
            background: transparent
            color: transparent
            &:disabled
                opacity: 0.2
                cursor: default
        .Drawer_close
            margin-top: 14px
        .Brozar_control-next
            margin-top: 72px
        .Brozar_control-previous
            margin-top: 14px
            +transform(rotate(-180deg))


.Brozar_item
    width: 240px
    text-decoration: none
    .item_cover
        height: 150px !important
    .item_supertitle
        margin: 0
        font-size: 16px
    .item_title
        margin: 0
        font-size: 16px
        color: $dark_gray


.ShareView
    text-align: center
    padding-top: 90px
    .share_link
        $size: 70px
        color: transparent
        display: inline-block
        width: $size
        height: $size
        background-repeat: no-repeat
        background-position: center center
        +background-size(contain)
        &[href*="facebook.com"]
            margin: 0 10px
            +respond-to-gt($Formwork_break_small)
                margin: 0 100px
            +respond-to-gt($Formwork_break_medium)
                margin: 0 255px
        &[href*="twitter.com"]
        &[href*="plus.google.com"]
