@import 'compass/utilities/general/clearfix'

@import 'shared/colors'
@import 'shared/layers'
@import 'shared/type'

@import 'helpers'

#view-content
    margin-top: 62px
    min-height: 640px

    .story
        position: relative
        display: block
        border-bottom: 2px solid #d2d2d2
        text-decoration: none
        +clearfix()
        &:last-child
            border-bottom: 0
