<!DOCTYPE html>
<html>
    <head>
        <title>{% block html_title %}{{ publication.name }}{% endblock %}</title>
        <meta name="description" content="{% include 'includes/meta_description.txt' ignore missing %}">
        <meta name="viewport" content="width=device-width">
        <meta charset="utf-8" />
        {%- if ENVIRONMENT != 'production' -%}
            <meta name="robots" content="noindex, nofollow">
        {%- endif %}
        {% cdn 'formwork-0.1.0.css' %}
        <link rel="stylesheet" href="{{ static_url('screen.css') }}" type="text/css">
        <link rel="icon" href="{{ static_url('favicon.png') }}" type="image/png">
    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">

        {% block content %}

            <div id="site-header" class="container-full">
                {% block site_header %}{% include "header.html" %}{% endblock %}
            </div>

            <div id="view-content" class="container-full">
                {% block view_content %}{% endblock %}
            </div>

            <footer id="site-footer" class="container-full">
                {% block site_footer %}{% include "footer.html" %}{% endblock %}
            </footer>

            {% cdn 'zepto-1.0.0.js','params-1.1.0.js' %}
            <script>
                window.params = new Params();
                {% block view_params %}{% endblock %}
            </script>



            {% block extra_scripts %}{% endblock %}

        {% endblock %}
    </body>
</html>
