{% extends "_base.html" %}


{% set story=story.published %}

{% block body_id %}story_view{% endblock %}

{% block html_title %}{{ story.title }} — {{ super() }}{% endblock %}

{% block site_header %}
    <a class="Drawer_trigger nav_item archives" data-Drawer_content="brozar">Archives</a>
    <a class="Drawer_trigger nav_item share" data-Drawer_content="share">Share</a>
    <a href="/" class="branding">Fierce</a>
{% endblock %}

{% block view_content %}

    <div id="story_title" class="item-full">
        <div class="item_cover cover-twothirds" data-cover_type="image" style="background-image: url({{ story.cover() }})">
            <h1 class="item_title">{{ story.title }}</h1>
        </div>
        <div class="item_info container">
            <div class="item_subtitle">
                <time class="published_date">{{ story.published_date.strftime('%b %d, %Y') }}</time>
                <a class="category">{{ story.category }}</a>
            </div>
        </div>

    </div>

    <div id="story_content" class="container-full">
        {% for block in story.content %}
            {{ block|render_block }}
        {% endfor %}
    </div>

    {% if story.related_content %}
        <div id="story_related_content" class="container-full">
            {%- for related in story.related_content -%}
            {%- with related_story=related|asModel -%}
            {%- if loop.first and story.related_content|length is odd -%}
                {% set first_full=True %}
            {%- else -%}
                {% set first_full=False %}
            {%- endif -%}
            <a class="item-{% if first_full %}full{% else %}half{% endif %}" {% if related_story.cover_content %}data-cover_content_id="{{ related_story.cover_content.id }}{% endif %}" href="{{ related_story.link }}">
                <div class="item_cover cover-{% if first_full %}half{% else %}full{% endif %}">
                </div>
                <div class="item_info">
                    <div class="item_supertitle">
                        <time class="published_date">{{ related_story.published_date.strftime('%b %d, %Y') }}</time>
                        <span class="category">{{ related_story.category }}</span>
                    </div>
                    <h2 class="item_title">{{ related_story.title }}</h2>
                    <p class="item_deck">
                        {{ related_story|content_preview }}
                    </p>
                </div>
            </a>
            {%- endwith -%}
            {%- endfor -%}
        </div>
    {% endif %}

{% endblock %}

{% block view_params %}
    params.set('brozar.query', {
        role: 'story',
        _sort: '-first_published_date',
        published_date__exists: true,
        slug__ne: '{{ story.slug }}'
    });
    {%- if story.category -%}
    {# this needs to change when categories become containers #}
    params.set('brozar.query.category', '{{ story.category }}');
    {%- endif -%}
{% endblock %}

{% block extra_scripts %}
    <script src="http://cdn.droptype.com/uri/uri-1.11.2-min.js"></script>
    <script src="{{ static_url('widgets/cover_embed.js') }}"></script>
    <script src="{{ static_url('widgets/cover_gallery.js') }}"></script>
    <script src="{{ static_url('story.js') }}"></script>
{% endblock %}

