{% extends "_base.html" %}


{% set story=story.published %}

{% block body_id %}story_view{% endblock %}

{% block view_content %}

    
    <div id="story_title" class="item-full">
        <div class="item_cover cover-twothirds" data-cover_type="image" style="background-image: url({{ story.cover() }})">
            <h1 class="item_title">{{ story.title }}</h1>
        </div>
        <div class="item_info container">
            <div class="item_subtitle">
                <time class="published_date">{{ story.published_date.strftime('%b %d, %Y') }}</time>
                <a class="category">{{ story.category }}</a>
            </div>
        </div>

    </div>

    <div id="story_content" class="container-full">
        {% for block in story.content %}
            {{ block|render_block }}
        {% endfor %}
    </div>

{% endblock %}

{% block view_params %}
    params.set('brozar.query', {
        role: 'story',
        _sort: '-first_published_date',
        published_date__exists: true,
        slug__ne: '{{ story.slug }}'
    });
    {%- if story.category -%}
    {# this needs to change when categories become containers #}
    params.set('brozar.query.category', '{{ story.category }}');
    {%- endif -%}
{% endblock %}

{% block extra_scripts %}
    <script src="http://cdn.droptype.com/uri/uri-1.11.2-min.js"></script>
    <script src="{{ static_url('widgets/cover_embed.js') }}"></script>
    <script src="{{ static_url('widgets/cover_gallery.js') }}"></script>
    <script src="{{ static_url('story.js') }}"></script>
{% endblock %}

