@import url(http://fonts.googleapis.com/css?family=Lora:400,700,700italic,400italic|Open+Sans:400,300,600,700,300italic,400italic,600italic,700italic,800,800italic|Source+Code+Pro:300)

$type--base_font_size: 16px !default

@function fontstack($primary)
    $stack: 'Open Sans', 'Helvetica', sans-serif
    @if $primary == 'Open Sans'
        $stack: 'Open Sans', 'Helvetica', sans-serif
    @if $primary == 'Lora'
        $stack: 'Lora', 'Times New Roman', serif
    @if $primary == 'Source Code Pro'
        $stack: 'Source Code Pro', monospace
    @return $stack


